

.button_container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 3rem 1rem;
    background-color: var(--primary-color)

}
.button_container .page-btn{
    font-size: 1.5rem;
    padding:0.7rem 1rem;
    outline: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border:none;
    margin: 0 6px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    transition: 0.3s !important;
    cursor: pointer;
    
}
.disable{
    cursor: no-drop;
}
.extension{
    padding: 0.7rem 1rem;
    background: transparent;
    border: none;
    color:var(--secondary-color) ;
    margin: 0 6px;
    font-size: 1.5rem;
}
.button_container .page-btn:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.active_button{
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
}


@media screen and (max-width: 900px) {
    .button_container .page-btn {
            font-size: 0.7rem;
            padding: 0.7rem 0.7rem;
            outline: none;
            background-color: var(--primary-color);
            color: var(--secondary-color);
            border: none;
            margin: 0 6px;
            border-radius: 5px;
            border: 1px solid var(--secondary-color);
            transition: 0.3s !important;
    
        }
}
@media screen and (max-width: 665px) {
    .button_container .page-btn {
            font-size: 0.5rem;
            padding: 0.4rem 0.5rem;
            margin: 3px 4px;
            border-radius: 5px;
            border: 1px solid var(--secondary-color);
            transition: 0.3s !important;
        }
    .extension{
            font-size: 0.5rem;
                        padding: 0.4rem 0.5rem;
                        display: none;
                }
    .button_container{
        flex-wrap: wrap;
        padding: 1em 0.3em;
    }
}