.dropdown{
   width: 10em;
   position: relative;   
   cursor: pointer;
}
.select{
    background: #20232c;
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #c8c6c6;
    padding: 1em;
    position: relative;
}
.select-clicked{
    border: 2px solid #575756;
    box-shadow: 0 0 0.8em #575756;
}
.select:hover{
    background: #323741;
}
.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--secondary-color);
    transition: 0.3s;

}
.caret-rotate{
    transform: rotate(180deg);
}
.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #20232c;
    border: 1px solid #323741;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top:3.5em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    display: none;
    opacity: 0;
    z-index: 1;
}
.menu li{
    padding: 0.5em 0.7em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
    z-index: 9999;
}
.menu li:hover{
    background: #1b1d22;
}
.active{
    background: #23242a;
}
.menu-open{
    display: block;
    opacity: 1;
}
@media only screen and (max-width: 1150px) {
    .dropdown{
        width: fit-content;
    }
    .selected{
        font-size: 0.8em;
        margin-right: 0.2em;
    }
}
@media only screen and (max-width: 800px){
    .dropdown{
        width: 12em;
        margin: 10px 0px;
    }
}